%div.row.well
  %div.col-md-2
  %div.col-md-6

    %div{:class => "panel panel-success"}
      %div.panel-heading
        %div.row
          %div.col-xs-10.text-left.vertical-align.inline
            %i.fa.fa-comments-o.fa-5x
            = "<h3>&nbsp;#{t('add_comment').titleize}</h3>".html_safe
            %p
      %div.panel-footer