%div{:class => "panel panel-#{panel_color}"}
  %div.panel-heading
    %div.row
      %div.col-xs-9.text-left
        = "#{main_panel_info}"
  %a{:href => '#'}
    %div.panel-footer
      %span.pull-left View Details
      %span.pull-right
        %i.fa.fa-arrow-circle-right
      %div.clearfix