%div.row.well
  %div.col-md-2
  %div.col-md-6

    %div{:class => 'panel panel-success'}
      %div.panel-heading
        %div.row
          %div.col-xs-9.text-left.vertical-align.inline
            %i.fa.fa-road.fa-5x
            = "<h3>&nbsp;Details about #{@data_result.tour_name}</h3>".html_safe
      %div.panel-footer
        %div.table-responsive
          %table.table.table-striped.table-bordered.table-hover.dataTables
            %thead
              %tr
                %td Concert Date
                %td Roio Name
            %tbody
              = @data_result.tour_dates.html_safe
        %div.clearfix

  %div.col-md-4
    %div{:class => 'panel panel-success'}
      %div.panel-heading
        %div.row
          %div.col-xs-9.text-left.vertical-align.inline
            %h3
              %span.glyphicon.glyphicon-cd{:aria_hidden => 'true'}
              Related Official Releases
      %div.panel-footer
        %div.table-responsive
          %table.table.table-striped.table-bordered.table-hover
            %tbody
              = @data_result.official_releases_info.html_safe
        %div.clearfix