%div{:id => "page-wrapper"}
  %div.row
    %div.col-lg-12
      %h3.page-header Tour Details
    <!-- /.col-lg-12 -->
  <!-- /.row -->
  %div.row
    %div.col-lg-3.col-md-6
      %div.panel.panel-info
        %div.panel-heading
          %div.row
            %div.col-xs-3
              %i.fa.fa-road.fa-5x
            %div.col-xs-9.text-right
              %h4 Tour
              %div
                = link_to(@data_result.tour_name, "/tour/#{@data_result.tours_id}", :class => 'text-white')
        %a{:href => "#"}
          %div.panel-footer
            = "<ul class='list-unstyled'>\n#{@data_result.tour_dates}</ul>\n".html_safe
            %div.clearfix