%div.row.well
  %div.col-md-2
  %div.col-md-6

    %div{:class => "panel panel-success"}
      %div.panel-heading
        %div.row
          %div.col-xs-9.text-left.vertical-align.inline
            %i.fa.fa-road.fa-5x
            = "<h3>&nbsp;Details about #{@data_result.tour_name} tour</h3>".html_safe
      %div.panel-footer
        = "<ul class='list-unstyled'>\n#{@data_result.tour_dates}</ul>\n".html_safe
        %div.clearfix