%p About this site.
%p This site originally started as my personal tradelist. I wanted to learn SQL, the book I had worked with a sample database of the presidents of the USA. I didn't give a crap and thought it was all boring and confusing. Then one day I decided instead to change the data, and use my pink floyd collection as a basis for the data. At last things began to click, as I finally understood that for so and so a query this should be the result.

%p So here I had a SQL database using PERL running on my computer, then I got my 1st cable modem. At that time we didnt know about shn or flac, let alone lossy vs lossless. We were just getting used to having faster than 56k speed. At that time you could download mp3's directly from the site. As the site grew in modest popularity the downloads overwhelmed the bandwidth and I had to remove them, plus we had found better ways to trade, such as IRC, DC, and now BitTorrent.

%p As time went on, via the many trading forums, people made requests, they asked if they could be added to the site, for their tradelists. Then they wanted to be able to add roios and concerts, etc... Slowly with input from many great people in the pink floyd community the site began to morph into a completely dynamic database.

%p As before, people made more requests to open the site to more than just Pink Floyd and related bands. With help from many we started to add bands. Currently there are 1293 bands in the database entered by 137 people.

%p Every menu, piece of text other than the actual data is changeable. The themes allow you to to customize the appearance of the site. I have tried as best as possible to separate the data from the interface, making the best use of css. This is an ever ongoing process. As the process continues the data will transition into an xml format, using css to control the output.

%p You can not download music from this site. For many of the bands listed here do not allow taping of shows, and I did not want to deal with copyright infringement issues. Please do not email me asking how to download, or where to download from. What I can say is knowing that something exists is half the battle. With that knowledge and understanding of how to use a search engine most anything can be found on the web.

%p I have been contacted by a few bands in the past asking removal of a listing, only to have them reverse their decision once they found that this was a reference site only. I feel it is vitally important for people discovering music they like to know where the music came from. This is the purpose of this site. Some bands play the music exaclty as they recorded it, others would take a song on the road, tweak it, then record it, while other bands just jammed on stage.

%p Please feel free to contact me with additional band information, tour lists, or ideas to make the site better. As David Gilmour once said 'Whats Rock and Roll without feedback?'.

%p Thank you for taking your time in reading this page. I hope that you have enjoyed the site as much as I have in creating, and developing it. With your help and continued support, this site will keep on growing. -Warren Landis (orangemaze)

%p You can report bugs, and or contribute to the the development of the site, <a href="https://github.com/orangemaze/concert_database" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>.

%p You can follow the site <a href="https://www.facebook.com/TheConcertDatabase/" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>