%div.in#page-wrapper
  %br
  %div.row
    %div.col-lg-5.col-md-8
      %div.panel.panel-primary
        %div.panel-heading
          %div.row
            %div.col-xs-9
              %h4 The Concert Database
            %img.center-block.img-responsive{:id => 'main_title_image', :src => get_main_image, :alt => 'Concert Image', :title => 'Concert Image', :width => '580px'}
    %div.row
      %div.col-lg-3.col-md-4
        %div.panel.panel-green
          %div.panel-heading
            %div.row
              %div.col-xs-9.text-left
                This is the new version of the site, it is still very much under construction
                %ul
                  %li= link_to "Bands", bands_path, :class => "text-white"
                  %li= link_to "Concerts", concerts_path, :class => "text-white"
                  %li= link_to "Countries", countries_path, :class => "text-white"
                  %li= link_to "Roios", roios_path, :class => "text-white"
        %div.panel.panel-red
          %div.panel-heading
            %div.row
              %div.col-xs-9.text-left more data here
        %div.panel.panel-yellow
          %div.panel-heading
            %div.row
              %div.col-xs-9.text-left and another