%div.in#page-wrapper
  %div.well
    %img{:id => 'main_title_image', :src => get_main_image, :alt => 'Concert Image', :title => 'Concert Image', :height => '450px', :width => '560px'}

  %div.well
    This is the new version of the site, it is still very much under construction
    %ul
      %li= link_to "Bands", :controller => "bands", :action => "index"
      %li= link_to "Concerts", :controller => "concerts", :action => "index"
      %li= link_to "Countries", :controller => "countries", :action => "index"
      %li= link_to "Roios", :controller => "roios", :action => "index"