%div.row.well
  %div.col-md-2
  %div.col-md-6

    %div{:class => "panel panel-green"}
      %div.panel-heading
        %div.row
          %div.col-xs-10.text-left.vertical-align.inline
            %i.fa.fa-ticket.fa-5x
            %h3 &nbsp;Venues
            %p
      %div.panel-footer
        %p To select a venue, choose 'Venues' from the 'Action' drop down, and begin to enter a venue name. The site uses a search suggest feature wherever possible.