%div.row.well
  %div.col-md-2
  %div.col-md-6

    %div{:class => "panel panel-primary"}
      %div.panel-heading
        %div.row
          %div.col-xs-10.text-left.vertical-align.inline
            %i.fa.fa-calendar.fa-5x
            %h3 &nbsp;Concerts
            %p
      %div.panel-footer
        %p To select a concert, choose 'Concerts' from the 'Action' drop down, and begin to enter a date. The site uses a search suggest feature wherever possible. All dates in the database are in the following format yyyy-mm-dd.