%div.row.well
  %div.col-md-2
  %div.col-md-6

    %div{:class => "panel panel-primary"}
      %div.panel-heading
        %div.row
          %div.col-xs-10.text-left.vertical-align.inline
            %i.fa.fa-calendar.fa-5x
            %h3= "&nbsp;#{t('concert').titleize.pluralize}".html_safe
            %p
      %div.panel-footer
        %p= t('to_select_a_concert')