%div.row.well.float-fix
  %div.col-md-2
  %div.col-md-6

    %div{:class => "panel panel-yellow"}
      %div.panel-heading
        %div.row
          %div.col-xs-10.text-left.vertical-align.inline
            %i.fa.fa-microphone.fa-5x
            = "<h3>&nbsp;#{t('band').pluralize.titleize}</h3>".html_safe
            %p
      %div.panel-footer
        %div.table-responsive
          %table.table.table-striped.table-bordered.table-hover.dataTables
            %thead
              %tr
                %td Bands
            %tbody
              - @data_result.order('band_name').each do |data_result|
                %tr
                  %td= link_to "#{data_result.band_name}".html_safe, band_path(data_result.band_id.to_s)