<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/index.html">The Concert Database</a>
  </div>
  <!-- /.navbar-header -->
  <ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
    <% if @is_moderator == 'y' %>
        <li><i class="fa fa-pencil-square-o reverse" id="admin_edit_control" aria-hidden="true"></i></li>
    <% end %>
    <% if cookies[:user_id].blank?  %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="/login"><i class="fa fa-sign-in fa-fw"></i> Login / Sign Up</a>
            </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>

    <% else %>
        <li class="dropdown">
          <a class="reverse dropdown-toggle" data-toggle="dropdown" href="#">
            <span class='reverse'>
              <% if session[:avatar_24].present? %>
                <%= "<img src='http://www.concerts-db.com#{get_user_avatar(session[:user_name], session[:users_id], session[:avatar_24], session[:avatar_96], 'small')}'>".html_safe %> <%= cookies[:user_name] %> <i class="fa fa-caret-down"></i></span>
              <% else %>
                <i class="fa fa-user fa-fw"></i> <%= cookies[:user_name] %> <i class="fa fa-caret-down"></i></span>
              <% end %>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="/users/<%= cookies[:user_id] %>"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li><a href="/login/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
    <% end %>



    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav vcenter" id="side-menu">
        <li class="sidebar-search">
          <div class="input-group input-group-sm" id="nav-search">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="action_button" value="#">Action <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li>&nbsp;</li>
                <li><a href="#" onclick="change_search('Bands');">Bands</a></li>
                <li><a href="#" onclick="change_search('Concerts');">Concerts</a></li>
                <li><a href="#" onclick="change_search('Venues');">Venues</a></li>
              </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control suggest-user" id="suggest" placeholder="">
          </div><!-- /input-group -->
          <!-- /input-group -->
        </li>
        <li class="panel-default">
          <a href="/index.html"><i class="fa fa-home fa-fw"></i> Home</a>
        </li>
        <li class="panel-yellow">
          <a href="/bands"><i class="fa fa-microphone fa-fw"></i> Bands</a>
        </li>
        <li class="panel-primary">
          <a href="/concerts"><i class="fa fa-calendar fa-fw"></i> Concerts</a>
        </li>
        <li class="panel-green">
          <a href="/venues"><i class="fa fa-ticket fa-fw"></i> Venues</a>
        </li>
        <li class="panel-default">
          <a href="/about"><i class="fa fa-cogs fa-fw"></i> About</a>
        </li>
        <li class="panel-success">
          <a href="/bibliography"><i class="fa fa-book fa-fw"></i> Bibliography</a>
        <li>&nbsp;</li>
        <li>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- ruby nav -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-0188156492753736"
               data-ad-slot="5782590521"
               data-ad-format="auto"></ins>
          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </li>

      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- ruby nav -->
  <!-- /.navbar-static-side -->
</nav>


