%div.row.well
  %div.col-md-2
  %div.col-md-6

    %div{:class => "panel panel-yellow"}
      %div.panel-heading
        %div.row
          %div.col-xs-9.text-left.vertical-align.inline
            %i.fa.fa-user.fa-5x
            %h3= "&nbsp;Details about  &nbsp;".html_safe
      %div.panel-footer
        %span.pull-left