the concert database  <br><br>
<table class="table table-striped table-bordered">
  <tr>
    <td>Country </td>
  </tr>


  <tr>
    <td style='white-space: nowrap'><%= @data_result.country %></td>
  </tr>

</table>