%div.row.well
  %div.col-md-2
  %div.col-md-6
    %div{:class => "panel panel-yellow"}
      %div.panel-heading
        %div.row
          %p#notice= notice
          %div.col-xs-10.text-left.vertical-align.inline
            %i.fa.fa-microphone.fa-5x
            %h3 &nbsp;Editing Member
            %p
      %div.panel-footer

        = render 'form'

        = link_to 'Show', @member
        |
        = link_to 'Back', member_path